# Node.js
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# Output of 'npm pack'
*.tgz

# Yarn
yarn-error.log
.pnp
.pnp.js

# Optional: Editor directories and files
.vscode/
.idea/

# Optional: OS-specific files
.DS_Store
Thumbs.db
